; {{ ansible_managed }}
{% set zone = (item.1 | dict2items).0.value %}

$TTL    {{ zone.ttl|default(3600) }}
@       IN      SOA    {{ zone.ns_primary }}. {{ zone.mail|replace('@', '.') }}. (
  {{ ansible_date_time.epoch }} ; Serial
  {{ zone.refresh|default(14400) }} ; Refresh
  {{ zone.retry|default(86400) }} ; Retry
  {{ zone.expire|default(2419200) }} ; Expire
  {{ zone.negative_cache|default(86400) }} ; Negative Cache TTL
)

{% for record in zone.records %}
{% if record.type|upper == 'MX' %}
{{ record.name }} {{ record.ttl|default(' ') }} IN MX {{ record.priority }} {{ record.value }}
{% elif record.type|upper == 'SRV' %}
{{ record.name }} {{ record.ttl|default(' ') }} IN SRV {{ record.priority }} {{ record.weight }} {{ record.port }} {{ record.value }}
{% elif record.type|upper == 'CAA' %}
{{ record.name }} {{ record.ttl|default(' ') }} CAA {{ record.flag }} {{ record.tag }} "{{ record.value }}"
{% elif record.type|upper == 'TXT' %}
{{ record.name }} {{ record.ttl|default(' ') }} IN TXT (
{% for charset in record.value|batch(64) %}
  "{{ charset|join('') }}"
{% endfor %}
)
{% else %}
{{ record.name }} {{ record.ttl|default(' ') }} IN {{ record.type|upper }} {{ record.value }}
{% endif %}
{% endfor %}
